
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>

  <system.webServer>
    <staticContent>
      <!-- .json and .js already defined in parent config -->
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />

      <remove fileExtension=".mp3" />
      <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
    </staticContent>

    <httpProtocol>
      <customHeaders>
        <!-- Normalize to uppercase path to match hosting under /AB/ -->
        <add name="Service-Worker-Allowed" value="/AB/" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>
</configuration>
